<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bumperz</title>
</head>
<body>
  <audio id="micro">
    <source src="<%= asset_path('micro.mp3') %>" type="audio/mpeg">
  </audio>
  <div class="container">
    <img id="bggif" src="<%= asset_path('lane.gif') %>" alt="">
<!--     <video id="bgvid" autoplay loop>
      <source src="http://www.sample-videos.com/video/mp4/360/big_buck_bunny_360p_1mb.mp4" type="video/mp4">
    </video> -->
  </div>
</body>
</html>