<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DashCam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A55C29AD1C305FE200A979F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55C29C61C305FE200A979F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55C29D11C305FE200A979F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
